/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 1px;
  position: fixed;
  right: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #eeaf9e;
  width: 10px;
  border-radius: 10px;
  border: 3px solid transparent;
}

/* General Styles */
html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #2b6d89;
  color: #FFF;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.body-container {
  position: relative;
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.contact-text {
  font-weight: bold;
  size: 1.5rem;
}

.projdiv {
  width: 40%;
}

/* Sticky Nav */
.sticky-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.name-profession-container {
  position: relative;
  z-index: 1002;
  pointer-events: none;
  text-align: center;
  background-color: #0e2b52;
}

.name-profession-container h1 {
  font-size: 3.5rem;
  margin: 0;
}

.name-profession-container p {
  font-size: 1.5rem;
  margin: 5px 0 20px;
}

.scroll-arrow {
  z-index: 1003;
}

.shrink-arrow {
  width: 4vw;
  position: absolute;
  height: auto;
  bottom: 0;
  left: var(--arrow-left, 50%);
  transform: translateX(-50%);
  transition: transform 0.3s 0.1s;
}

.shrink-arrow:hover {
  left: var(--arrow-left, 50%);
  transform: translate(-50%, 20%);
}

/* Links Container */
.links-container {
  position: fixed;
  top: 0;
  z-index: 1002;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.links-container.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1002;
}

.links-container nav ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 1200px;
  color: white;
  z-index: 30;
}

.links-container a {
  transition: color 0.3s ease-in-out;
}

.links-container a:hover {
  color: #b9897c;
}

.title-container {
  position: relative;
  background-attachment: fixed;
  background-position: center 50%;
  background-repeat: no-repeat;
  width: auto;
  height: 100vh;
  /* background-color: rgb(24, 35, 54); */
  background-color: #0e2b52;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.header-bottom {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  z-index: 1001;
}



.wave1-background {
  position: sticky;
  top: 0;
  width: 100%;
  height: 150px;
  background-image: url('/src/Assets/Waves/wave1.svg');
  background-size: cover;
  display: flex;
  transform: rotate(180deg);
  z-index: 25;
}

.wave2-background {
  position: sticky;
  top: 0;
  width: 100%;
  height: 150px;
  background-image: url('/src/Assets/Waves/wave2.svg');
  background-size: cover;
  display: flex;
  transform: rotate(180deg);
  z-index: 25;
}

.wave3-background {
  position: sticky;
  top: 0;
  width: 100%;
  height: 150px;
  background-image: url('/src/Assets/Waves/wave3.svg');
  background-size: cover;
  display: flex;
  transform: rotate(180deg);
  z-index: 25;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 5px;
}

nav ul li a {
  text-decoration: none;
  padding: 10px 15px;
  white-space: nowrap;
}

nav ul li a.resume-button {
  background-color: #444;
  border-radius: 5px;
}

nav ul li a.resume-button:hover {
  background-color: #555;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #FFF;
  padding: 80px 0;
  z-index: 1000;
  transition: all 0.3s;
}

.sticky {
  position: fixed;
  top: 0;
}

section {
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

#skills {
  position: relative;
  text-align: center;
  flex-direction: row;
  z-index: 1;
  padding-top: 10vh
}

@media(prefers-reduced-motion: no-preference) {
  .section-title {
    font-size: 4rem;
    pointer-events: none;
    transition: position 0.3s ease-in-out, top 0.3s ease-in-out;

  }

  .section-title.sticky {
    position: fixed;
    top: 50%;
    z-index: 1000;

  }

  .skill-title {
    animation: opacity 0.5s ease-in forwards;
    opacity: 0;
  }

  .skill-title.sticky {
    position: fixed;
    top: 50%;
    z-index: 1000;
  }

  #skills h2 {
    /* animation: fade-in linear ease-in 1s; */
    pointer-events: none;
  }
}

.icons-column {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3vw, 1fr));
  max-width: 100%;
  gap: 1vh;
}

.icon {
  position: relative;
  height: auto;
  max-width: 56px;
  display: flex;
  padding: 3px;
}

.icon img,
.icon svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.icon:before {
  content: attr(title);
  position: absolute;
  left: 50%;
  bottom: 100%;
  transform: translateX(-50%) translateY(-15px);
  width: auto;
  padding: 10px;
  border-radius: 10px;
  background: #000;
  color: #fff;
  text-align: center;
  opacity: 0;
  transition: opacity 0.6s;
  white-space: nowrap;
  pointer-events: none;
  z-index: 10;

}

.icon:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 100%;
  transform: translateX(-50%) translateY(5px);
  border: 10px solid transparent;
  border-color: #000 transparent transparent transparent;
  opacity: 0;
  transition: opacity 0.6s;
}

.icon:hover:before,
.icon:hover:after {
  display: block;
  opacity: 1;
}

.skill-categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* Adjust the minmax values as needed */
  gap: 20px;
  /* Adjust the gap between items as needed */
  font-size: 2rem;
  padding: 0 5vw;
  position: relative;
  justify-content: center;
}

.sksoftware {
  display: flex;
  padding-bottom: 20px;
  align-items: center;
  flex-direction: column;
  animation: opacity 0.5s 0.3s ease-in forwards;
  /* Animation definition */
  opacity: 0;


}

.sklanguages {
  display: flex;
  padding-bottom: 20px;
  align-items: center;
  flex-direction: column;
  animation: opacity 0.5s 0.8s ease-in forwards;
  /* Animation definition */
  opacity: 0;

}

.sktraining {
  display: flex;
  padding-bottom: 20px;
  align-items: center;
  flex-direction: column;
  animation: opacity 0.5s 1.3s ease-in forwards;
  /* Animation definition */
  opacity: 0;

}



.skill-container {
  text-align: center;
  height: auto;
  min-height: 120vh;
  position: relative;
  /* background-color: rgb(215, 157, 104); */
  background-color: #256f89;
}

.project-container {
  text-align: center;
  /* background-color: #FFBC63; */
  background-color: #88ada4;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 0 10vw;
}

.project {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}

.project img {
  max-width: 100%;
  height: 50px;
  width: 70px;
  flex: 1;
}

.project-rev {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}

.project-rev img {
  max-width: 100%;
  height: 50px;
  width: 70px;
  flex: 1;
}

.project-description {
  flex: 1;
  padding: 20px;
}

.contact-container {
  /* background-color: #4D69B0; */
  background-color: #e3d8ad;
}

#contact {
  text-align: center;
}

.contact-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0px;
}

.contact-items li {
  margin: 0 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  width: auto;
  height: 100%;
  object-fit: contain;
}

.contact-items li a {
  color: #132852;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  padding: 1vw 2vw;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.contact-items li a img {
  width: 3vw;
  height: auto;
  margin-right: 1vw;
}

.footer {
  text-align: center;
}


@media (max-width: 1200px) {
  .shrink_arrow {
    width: 4vw;
  }

  .contact-items li a img {
    width: 3vw;
  }

  /* .sksoftware {
    font-size: 2.5vw;
  }

  .sklanguages {
    font-size: 2.5vw;
  }

  .sktraining {
    font-size: 2.5vw;
  } */
}

@media (max-width: 992px) {
  .shrink_arrow {
    width: 6vw;
  }

  .contact-items li a {
    font-size: 20px;
  }

  .contact-items li a img {
    width: 3vw;
  }

  .icon {
    width: 5vw;
  }

  .icons-column {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  }
}

@media (max-width: 768px) {
  .shrink_arrow {
    width: 8vw;
  }

  .contact-items li a {
    font-size: 3vw;
  }

  .contact-items li a img {
    width: 3vw;
  }

  .icon {
    width: 7vw;
  }
}

@media (max-width: 576px) {
  .shrink_arrow {
    width: 10vw;
  }


  .icon {
    width: 9vw;
    max-width: 10vw;
  }

  .contact-items li a {
    font-size: 3vw;
  }

  .contact-items li a img {
    width: 3vw;
  }

  .skill-categories {
    font-size: 1.5rem;

  }
}

@keyframes opacity {
  from {
    opacity: 0;
    /* Start with opacity 0 */
  }

  to {
    opacity: 1;
    /* End with opacity 1 */
  }
}