.nav-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.nav-container ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-container a {
    position: relative;
    text-decoration: none;
    color: white;
}

.nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}

.nav-item {
    margin: 0 10px;
}

.nav-item a {
    padding: 10px 20px;
    position: relative;
    z-index: 1;
    /* Ensure the text is above the pill */
    text-decoration: none;
    color: #000;
    /* Adjust as needed */
}

.nav-item .active {
    color: #fff;
    /* Adjust as needed */
}

.active-pill {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30px;
    transition: all 0.3s ease;
    border-radius: 15px;
    z-index: 0;
}