/* src/components/ProjectCard.css */
.project-card {
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.6);
    text-align: center;
    margin: 20px;
    width: 500px;
    position: relative;
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    flex-direction: column;
    height: auto;
}

.project-card:hover {
    transform: translateY(-5px) scale(1.1);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.6);
}

.project-thumbnail {
    width: calc(100% - 10px);
    height: 350px;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 15px;
    border: 5px solid white;
}

.project-info {
    padding: 5px 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.project-info h3 {
    margin: 10px 0;
}

.project-info p {
    color: #666;
}

.project-title {
    font-size: 1.6em;
    margin-top: 3px;
    color: #333;
    pointer-events: none;
}

.project-date {
    font-size: 1em;
    color: #999;
    margin-top: 0;
    pointer-events: none;
}

.project-summary {
    flex: 1;
    font-size: 1.2em;
    pointer-events: none;
    margin: 0;
  }

.learn-more-button {
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px 20px;
    border: none;
    font-size:1.02em;
    background-color: #ffbd33;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    align-self: center;
}

.learn-more-button:hover {
    background-color: #ffa500;
}

.status-pill {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 0.8em;
    font-weight: bold;
    z-index: 1;
    transition-duration: 1s ease;
    border: 2px solid ;
    pointer-events: none;
    background-color: rgba(63, 63, 63, 0.85);
}

.status-pill.in-progress {
    color: #ffbc63;
    border: 2px solid #ffbc63;
}

.status-pill.completed {
    color: #1ce726;
    border: 2px solid #1ce726;
}

.status-pill.paused {
    color: #7bc3ec;
    border: 2px solid #7bc3ec;
}