/* src/components/ProjectCard.css */
.project-card {
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Slight shadow */
    text-align: center;
    margin: 20px;
    width: 350px;
    position: relative;
    /* Increased width */
    transition: transform 0.2s, box-shadow 0.2s;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-image {
    width: calc(100% - 10px);
    height: calc(200px - 10px);
    object-fit: cover;
    margin: 0 auto;
    border-radius: 15px;
    border: 5px solid white;
}

.project-info {
    padding: 20px;
}

.project-info h3 {
    margin: 10px 0;
}

.project-info p {
    color: #666;
}

.project-title {
    font-size: 1.2em;
    margin: 10px 0;
    color: #333;
}

.project-date {
    font-size: 0.9em;
    color: #999;
}

.learn-more-button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #ffbc63;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.learn-more-button:hover {
    background-color: #ffa500;
}

.status-pill {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 0.8em;
    font-weight: bold;
    z-index: 1;
    transition-duration: 1s ease;
    border: 2px solid ;
    background-color: rgba(63, 63, 63, 0.7);
}

/* Specific status styles */
.status-pill.in-progress {
    color: #ffbc63;
    border: 2px solid #ffbc63;
    /* In Progress color */
}

.status-pill.completed {
    color: #4caf50;
    border: 2px solid #4caf50;
    /* Completed color */
}

.status-pill.paused {
    color: #748ffc;
    border: 2px solid #748ffc;
    /* Paused color */
}