.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: opacity 0.3s ease;
}

.modal-content {
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 800px;
  max-height: 80%;
  overflow-y: auto;
  text-align: center;
  position: relative;
  padding: 20px;
  animation: fadeIn 0.3s ease-out;
}

@media (max-width: 316px) {
  .modal-title-container h3{
    font-size: 6vw;
  }
  .status-pill-modal.completed{
    font-size: 4vw;
  }

  .status-pill-modal.in-progress{
    font-size: 4vw;
  }

  .status-pill-modal.paused{
    font-size: 4vw;
  }

  .nav-list{
    font-size: 6vw;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.modal-content p {
  color: black;
}

.modal-content.open {
  transform: scale(1);
}

.carousel-root {
  text-align: center;
  position: relative;
  width: 98%;
  margin: 0 auto;
  border-radius: 1rem;
}

.carousel .slide {
  height: 500px;
}

.carousel .slide img {
  max-width: 100%;
  max-height: 500px;
  width: auto;
  height: auto;
  object-fit: contain;
  margin: 0 auto;
}

.carousel .slide video {
  width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: contain;
  margin: 0 auto;
}

.carousel .thumb video {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.slider-wrapper {
  background-color: #4d4d4d;
}

.carousel.carousel-slider .control-arrow {
  z-index: 100;
  color: #000;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  align-self: center;
}

.carousel.carousel-slider .control-arrow:hover {
  background-color: rgba(0, 0, 0, 1);
}

.carousel .control-arrow:hover {

  background: rgba(0, 0, 0, 0.3);
}

.carousel .control-arrow:before {
  margin: 0;
}


.modal-thumbnail {
  width: 30%;
  height: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.modal-info {
  padding: 10px;
  margin: 10px;
  padding-top: 1px;
  position: relative;
  text-align: left;
  background: #bdbdbd60;
  border-radius: 1rem;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
}

.modal-date-title {
  flex-direction: column;
  text-align: left;
  padding-left: 10px;
  width: 100%;
  height: fit-content;
  margin: 0 auto;
}

.modal-date {
  font-size: 0.9em;
  position: relative;
  color: #999;
  width: fit-content;
  pointer-events: none;
}

.modal-title-container {
  display: flex;
  height: auto;
  position: relative;
  flex-direction: row;
}

.projectLink {
  position: relative;
  display: inline-block;
  align-items: center;
  justify-content: center;
  margin: 15px auto;
  padding: 10px 20px;
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  color: #fff;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.5s ease, transform 0.5s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.projectLink:hover {
  background: linear-gradient(135deg, #a777e3, #6e8efb);
  transform: translateY(-3px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.projectLink:active {
  transform: translateY(1px);
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
}


.modal-title {
  margin: auto 0;
  font-size: 1.5em;
  width: fit-content;
  color: #000;
  display: flex;
  position: relative;
  pointer-events: none;

}

.status-pill-modal {
  padding: 5px 10px;
  margin: 5px;
  border-radius: 50px;
  font-size: 0.8em;
  font-weight: bold;
  pointer-events: none;
  background-color: rgba(221, 221, 221, 0.7);
  top: 10px;
  height: fit-content;
  width: fit-content;
  right: 10px;
  z-index: 1;
}

.status-pill-modal.in-progress {
  color: #ffbc63;
  border: 2px solid #ffbc63;
}

.status-pill-modal.completed {
  color: #1ce726;
  border: 2px solid #1ce726;
}

.status-pill-modal.paused {
  color: #3c80ff;
  border: 2px solid #3c80ff;
}

.modal-close {
  position: relative;
  padding: 10px;
  text-align: center;
  width: auto;
  margin: 0 auto;
}

.close-button {
  position: relative;
  background: none;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: #333;
  background-color: #e4e4e4;
  border-radius: 5px;
}

.modal-description {
  color: #666;
  margin: 15px 0;
}

.modal-description p {
  pointer-events: none;
}



.close-button:hover {
  background-color: #ffa500;
}

.modal-content::-webkit-scrollbar {
  width: 8px;
}

.modal-content::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.modal-content::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.modal-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.no-scroll {
  overflow: hidden;
}

.tools-list {
  margin-left: 10px;
}

.tools {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  pointer-events: none;
}

.tool-pill {
  background-color: #d1d1d1;
  border: 0.1em solid;
  color: #333;
  padding: 5px 10px;
  border-radius: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 0.8em;
}